<footer>
	<div class="container">
		<div class="inside clearfix">
			<div class="vcard col-sm-4 col">
				<div class="org">Maeder Property AG</div>
			</div>
			<div class="col-sm-4 col text-center contact-us">
				<a class="fancylink" href="mailto:info@maederproperty.ch">Kontakt</a>
			</div>
			<div class="col-sm-4 col text-right back-top">
				<a href="#" class="gray-light gray-link">Nach oben <i class="icon-arrow-1-03"></i></a>
			</div>
		</div>
	</div>
</footer>