<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}{% endif %}">
	<meta name="keywords" content="Immobilien, Wohnung, Haus, Grundstück, Wohnen, Architektur, Finanzierung, Individualität">
	<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>

	{% asset style.scss %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	{% asset lib/modernizr %}
</head>