{% collection "immobilien" query 'tags={{ immoquery }}' %}
{% for immo in collection.items %}
	<div class="row">
		<div class="col-sm-12">
			<h2 class="sub-title">{{ immo.title }}</h2>
		</div>
	</div>
	<div class="row space">
		<div class="col-sm-6 circle">
			<img class="img-responsive" src="{{ global.images }}{{ immo.img1 }}" alt="{{ immo.img1alt }}">
		</div>
		<div class="col-sm-6 xs-space">
			<img class="img-responsive" src="{{ global.images }}{{ immo.img2 }}" alt="{{ immo.img2alt }}">
		</div>
	</div>
	<div class="row immo-big">
		<div class="col-sm-12">
			<img class="img-responsive" src="{{ global.images }}{{ immo.img3 }}" alt="{{ immo.img3alt }}">
		</div>
	</div>
	<div class="row middle-space {% if immo.seperator %}seperator{% endif %}">
		<div class="col-xs-5 col-sm-6 text-right dt">
			Anzahl<br>
			Wohnungsgrösse<br>
			Lage<br>
			Baubeginn<br>
			Bezug<br><br>
			<a href="{{ global.docs }}{{ immo.preisliste }}" class="normalize fancylink" target="_blank">Preisliste</a>
		</div>
		<div class="col-xs-7 col-sm-6 text-left dd">
			{{ immo.anzahl }}<br>
			{{ immo.size }}<br>
			{{ immo.lage }}<br>
			{{ immo.start }}<br>
			{{ immo.bezug }}<br><br>
			<a class="fancylink" href="{{ global.docs }}{{ immo.verkaufsdoku }}" target="_blank">Verkaufsdokumentation</a>
		</div>
	</div>
{% endfor %}
{% endcollection %}