@font-face {
    font-family: 'az_l';
    src: url('../../assets/fonts/az_l-webfont.eot');
    src: url('../../assets/fonts/az_l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/az_l-webfont.woff') format('woff'),
         url('../../assets/fonts/az_l-webfont.ttf') format('truetype'),
         url('../../assets/fonts/az_l-webfont.svg#akzidenz-grotesk_bq_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'az_lc';
    src: url('../../assets/fonts/az_lc-webfont.eot');
    src: url('../../assets/fonts/az_lc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/az_lc-webfont.woff') format('woff'),
         url('../../assets/fonts/az_lc-webfont.ttf') format('truetype'),
         url('../../assets/fonts/az_lc-webfont.svg#akzidenz-grotesk_bq_light_cRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'az_li';
    src: url('../../assets/fonts/az_li-webfont.eot');
    src: url('../../assets/fonts/az_li-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/az_li-webfont.woff') format('woff'),
         url('../../assets/fonts/az_li-webfont.ttf') format('truetype'),
         url('../../assets/fonts/az_li-webfont.svg#akzidenz-grotesk_bq_lightIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

// iconfont
@charset "UTF-8";

@font-face {
  font-family: "maeder";
  src:url("../../assets/fonts/iconfont/maeder.eot");
  src:url("../../assets/fonts/iconfont/maeder.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/iconfont/maeder.woff") format("woff"),
    url("../../assets/fonts/iconfont/maeder.ttf") format("truetype"),
    url("../../assets/fonts/iconfont/maeder.svg#maeder") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "maeder" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "maeder" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-1-03:before {
  content: "a";
}
.icon-arrow-1-04:before {
  content: "b";
}
