.categories { 
	margin-bottom: 40px;
	position: relative;
	z-index: 10;
	text-align: center;
	a {
		color: $gray-light;
		&:hover {
			color: $brand-primary;
			text-decoration: none;
		}
		&:not(:last-of-type) { margin-right: 10px; }
	}
	.selected {
		color: $brand-primary;
		&:hover { text-decoration: none; }
	}
}

@media (min-width: $screen-sm) {
	.categories { 
		&:not(:last-of-type) { margin-right: 20px; }
	}
}

@media (max-width: $screen-sm) {
	.immos {
		.circle:before { left: 6px; }
	}
}