.ueber {
	#team {
		.img-circle { height: 150px; }
		.img-square { height: 150px; }
		p {
			line-height: 1em;
			margin-top: 20px;
			em {
				color: $gray-dark;
				display: inline-block;
				font-size: 16px;
				margin-top: 10px;
				&:before { content: "- "; }
				&:after { content: " -"; }
				}
			span {
				color: $gray-dark;
				font-size: 12px;
				line-height: 2em;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.ueber #team .row {
		> div:not(:first-of-type) {
			margin-top: 40px;
		}
	}
}

@media (min-width: $screen-sm) {
	.ueber #team #jon, .ueber #team #gab {
		> div:nth-of-type(2) {
			font-size: 16px;
		}
	}
	.ueber #team p span{
		font-size: 10px;
		line-height: 1em;
	}
}

@media (min-width: $screen-sm) {
	.ueber #team {
			margin-top: 40px;
	}
	.ueber #team #jon {
		> div:nth-of-type(2) {
			margin-top: 38px;
		}
	}
	.ueber #team #gab {
		> div:nth-of-type(2) {
			margin-top: 36px;
		}
	}
}

@media (min-width: $screen-md) {
	.ueber #team p span{
		font-size: 12px;
	}
	.ueber #team #jon {
		> div:nth-of-type(2) {
			margin-top: 30px;
		}
	}
	.ueber #team #gab {
		> div:nth-of-type(2) {
			margin-top: 36px;
		}
	}
}

@media (min-width: $screen-lg) {
	.ueber #team #jon {
		> div:nth-of-type(2) {
			margin-top: 40px;
		}
	}
	.ueber #team #gab {
		> div:nth-of-type(2) {
			margin-top: 50px;
		}
	}
}
