<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="{{ page.lang | default: site.lang | default: "de" }}">
	
	{% include head.html %}

	<body class="{{ page.bodyclass }}">
		<!--[if lt IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		
		{% include header.html %}

		<div id="wrapper">

				{{ content }}

			{% include footer.html %}

		</div>
		
		{% asset app.js %}

		{% if jekyll.environment == 'production' and site.google_analytics %}
		{% include google-analytics.html %}
		{% endif %}
	</body>
</html>


